@import '/styles/base.scss';
@import '/styles/form.scss';
@import '/styles/mainmenu.scss';

RankPanel{
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    font-family: poppins;
    opacity:1;

    transform:scale(1);
    transition: all 0.1s ease-out;

    &:intro
	{
		max-height: 0px;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		opacity: 0;
		transform: scale( 0 );
	}

	&:outro
	{
		opacity: 0;
	}
}

button{
    border: 2px solid transparent;
    
}
button:hover {
    border: 2px solid white;
}
button.selected {
    border: 2px solid #38ff;
    background-color: #338f;
}

Window {
    background-color: rgba( #111, 0.9 );
    backdrop-filter: blur(20px);
    min-width:300px;
    height:900px;
    border-radius: 8px;
    z-index:20;
    pointer-events: all;
    flex-direction: row;

    .closeButton {
        position:absolute;
        top:0;
        right:0px;
        border-radius: 8px;
        min-height: 0;
        padding:0;
        width:20px;
        height:20px;
        justify-content: center;
        align-items: center;
        color:white;
        z-index:2000;
    }

    .currentRanks {
        background-color: rgba( #111, 0.7 );
        border-radius: 8px 0px 0px 8px;
        min-width:120px;
        flex-direction: column;
        color:white;
        padding-top:4px;
        padding-left:4px;
        font-weight: bold;
        overflow:scroll; // TODO: Ensure this works?
        margin-top:4px;
        margin-bottom:4px;
        margin-left:4px;
        padding-right:4px;

        .rank {
            border-radius: 12px;
            padding: 2px 6px;
            min-height: 0;
            margin-bottom:4px;
        }

        .newRank {
            border-bottom: 2px solid white;
            color:white;
        }
    }


    .rankSettings {
        background-color: rgba( #111, 0.7 );
        border-radius: 0px 8px 8px 0px;
        margin: 4px;
        width:980px;
        flex-direction: column;
        &.inactive{
            pointer-events:none;
            filter:blur(5px);
        }

        .pageButtons{
            padding-left:12px;
            flex-direction: row;
            padding-top:4px;
            button {
                border-radius: 10px 10px 0px 0px;
                min-height:0px;
                padding:0px 8px;

                &.currentPage{
                    color:white;
                    border-top: 2px solid white;
                    background-color:#111f;
                }
            }
        }

        .pageHolder {
            background-color: #111f;
            border-radius: 4px;
            height:100%;
            margin: 0px 8px 8px 8px;
        }

        .tacopage {
            position:absolute;
            top:0;
            left:0;
            opacity:1;
            transition: all 0.1s ease-out;
            width:100%;
            flex-grow: 1;

            &.hidden{
                opacity:0;
            }
        }

        ColorEditorRgba {
            padding-left:8px;
        }

        General {
            height:100%;
            width:100%;
            .form {
                height:100%;
                flex-grow:1;
            }
            .form-label{
                min-height: 0px;
                height:0px;
            }
            .form-row{
                flex-direction: flex-start;
                margin:0;
            }
            .form-value{
                flex-grow:0;
                slider, textentry, dropdown {
                    min-width:0;
                    flex-grow:0;
                    width: 320px;
                    &.disabled{
                        pointer-events: none;
                        background-color: #333;
                        color: #888;
                    }
                }
            }

            .deleteButton{
                position:absolute;
                bottom:8;
                border-radius:8px;
                border: 2px solid red;
                background-color: #800;
                color:black;
                font-weight: bold;

                &:hover{
                    border: 2px solid #800F;
                    background-color: red;
                }
                &:not(.yousure){
                    right:8;
                }

                &.yousure{
                    left:8;
                }
            }
        }

        Permissions {
            height:100%;
            width:100%;
            .form {
                flex-direction: row;
                justify-content: space-around;
                width:100%;
            }
            .form-row{
                flex-direction: column;
                flex-grow: 1;
                justify-content: center;
            }

            .form-label{
                text-align: center;
                min-height: 0px;
                height:0px;
                min-width:100%;
            }
        }

        PermissionList {
            flex-grow:1;
            background-color: #000f;
            border-radius:4px;
            overflow:scroll;
            flex-direction: column;
            padding-top:4px;
            .groupHeader{
                padding-left: 10px;
                margin-top:4px;

            }
            .permissionButton {
                width:100%;
                justify-content: space-between;
                flex-direction: row;
                padding: 0 10px;
                padding-left:14px;
                color:red;
                &.allowed{
                    color:green;
                }
                button{
                    min-width:10px;
                    min-height:0px;
                    width:0px;
                    height:24px;
                    padding:0;
                }
                .name {
                    text-align: left;
                }
                label {
                    text-align: center;
                    flex-grow:90000000000;
                }
            }
        }
    }
}