TexPanel {
	position:absolute;
	width:40px;
	height:40px;
	color:#FFF;
    background-position: center;
    background-size: cover;
    background-color: rgba(black, 0.1);
    background-image: url( /entity/spawnicon.png );
}