Health
{
	position: absolute;
	//background-color: rgba( black, 0.5 );
	left: 100px;
	bottom: 48px;
	font-size: 80px;
	font-weight: bold;
	height: 80px;
	padding: 0 20px;
	align-items: center;
	label {
		color: #FA3;
		text-shadow: 0 0 16px #F80, 0 0 2px #F80, 0 0 2px #F80, 0 0 4px #F80;
		transition: all 0.2s ease-in-out;
	}

	.dying {
		color: #F00;
		text-shadow: 0 0 16px #F00, 0 0 2px #F00, 0 0 2px #F00, 0 0 4px #F00;
	}

	.hidden {
		font-size: 40px;
		left: -50px;
		bottom: -24px;
	}
}

AmmoHud
{
	//background-color: rgba( black, 0.5 );
	position: absolute;
	bottom: 0;
	right: 0;
	font-weight: bold;
	height: 80px;
	padding: 0 20px;
	align-items: center;
	label {
		position: absolute;
		color: #FA3;
		text-shadow: 0 0 16px #F80, 0 0 2px #F80, 0 0 2px #F80, 0 0 4px #F80;
		transition: all 0.2s ease-in-out;
	}

	.clip {
		font-size: 80px;
		right: 170px;
		text-align: right;
	}

	.held {
		font-size: 40px;
		//left: calc(100%-60px);
		right: 100px;
		text-align: left;
	}

	.one {
		bottom: 48px;
	}

	.two {
		bottom: 128px;
	}

	.hidden {
		opacity: 0;
	}
}

CurrentTool
{
	position: absolute;
	background: linear-gradient(to right, rgba(black, 0.5), rgba(black, 0.0));
	top: 100px;
	left: 0px;
	padding: 30px 70px;
	flex-direction: column;
	width: 560px;
	opacity: 0.0;

	&.active
	{
		opacity: 1.0;
	}

	.title
	{
		font-size: 50px;
		font-weight: bold;
		text-shadow: 4px 4px 10px rgba( black, 0.3 );
		color: white;
	}

	.description
	{
		padding-top: 5px;
		padding-left: 10px;
		font-size: 18px;
		font-weight: normal;
		text-shadow: 2px 2px 5px rgba( black, 0.3 );
		color: white;
		opacity: 0.8;
	}
}

rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}


	&.devcamera
	{
		display: none;
	}
}

/*
InventoryBar
{
	position: absolute;
	width: 100%;
	//bottom: 48px;
	top:0px;
	//left:150px;
	justify-content: center;
	align-items: flex-start;
	// flex-direction: column;
	transition: all 0.2s ease-in-out;

	&.hidden{
		margin-top: -40px;
		transform: scale(0.75);
	}
}

InventoryIcon
{
	width: 120px;
	height: 40px;
	background-color: rgba( #222, 0.3 );
	margin: 0px 2px;
	position: relative;
	transition: all 0.2s ease-in-out;
	margin-top: 10px;
	font-family: poppins;

	.item-name
	{
		padding: 5px;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
		top: 6px;
		bottom: 0;
		font-size: 10px;
		position: absolute;
		opacity: 0.7;
		transition: all 0.5s ease-in-out;
		text-shadow: 1px 1px 5px black;
	}

	.slot-number
	{
		font-size: 25px;
		color: black;
		font-weight: 900;
		opacity: 0.3;
		position: absolute;
		top: 1px;
		left: 5px;
	}

	&.active
	{
		background-color: rgba( #0094ff, 0.5 );
		transition: all 0.1s ease-out;
		width: 140px;
		height: 40px;

		.slot-number
		{
			color: #275576;
		}

		.item-name
		{
			opacity: 1;
			transition: all 0.1s ease-out;
			font-size: 13px;
		}
	}
}
*/

InventoryBar
{
	position: absolute;
	width: 100%;
	//bottom: 48px;
	top:0px;
	//left:150px;
	justify-content: center;
	align-items: flex-start;
	// flex-direction: column;
	transition: all 0.2s ease-in-out;
	font-family: poppins;
	color: #fff;

	label {
		opacity: 1;
		transition: all 0.2s ease-in-out;
	}

	&.hidden{
		transform: scale(0.5);
		margin-top: -256px;
		label {
			opacity:0;
		}
	}

	.group {
		width: 80px;
		margin:0px 5px;
		flex-direction: column;
		transition: all 0.2s ease-in-out;

		&.active{
			width: 120px;
		}

		.groupHeader {
			background: linear-gradient(to top, rgba(black, 0.5), rgba(black, 0.0));
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height:30px;
		}

		.groupName {
			position: absolute;
			top: 0px;
			left: 5px;
			font-size: 20px;
		}
	}

	.weaponslot {
		height: 40px;
		background-color: #3338;
		margin-bottom: 5px;
		text-align: center;
		transition: all 0.2s ease-in-out;
		border-color: white;
		font-size:14px;
		&.active{
			font-size:20px;
			border: 2px solid white;
		}
	}

	.weaponname{
		position:absolute;
		bottom:0px;
		left:0px;
		right:0px;
	}
}