spawnmenu {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 100px;
    margin-bottom: 200px;
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.1s ease-out;
    position: absolute;
    font-family: poppins;
    opacity: 0;

    .tabs {
        font-size: 16px;
        flex-shrink: 0;
        margin-bottom: 4px;
        padding-left: 10px;

        button {
            padding: 6px 5px;
            margin-right: 10px;
            font-size: 13px;
            align-items: center;
            font-weight: 600;
            opacity: 0.2;
            color: #fff;
            cursor: pointer;
            //border-radius: 5px;
            label {
                text-shadow: 1px 1px 4px rgba( black, 0.2 );
            }

            &:hover {
                opacity: 1;
            }

            &.active {
                transform: scale( 1 );
                opacity: 1;
                color: #fff;
                //	background-color: #fff;//( #3273eb, 0.2 );
                //color: #3273eb;
            }
        }
    }

    .left {
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        left: -500px;
        transition: all 0.3s ease-in;

        .body {
            border-radius: 10px;
            background-color: rgba( #111, 0.7 );
            flex-grow: 1;
        }
    }

    .right {
        margin-left: 10px;
        flex-direction: column;
        min-width: 450px;
        flex-shrink: 0;
        left: 500px;
        transition: all 0.3s ease-in;

        .body {
            //	background-color: rgba( #333, 0.95 );
            flex-grow: 1;
            border-radius: 10px;
            background-color: rgba( #111, 0.7 );
            padding: 10px;


            .toollist {
                flex-direction: column;
                width: 150px;
                color: #aaa;

                button {
                    padding: 3px 10px;
                    font-size: 11px;
                    transition: all 0.2s ease-out;
                    cursor: pointer;

                    &:hover {
                        //border-left: 3px solid #3273eb;
                        color: white;
                    }

                    &.active {
                        //border-left: 5px solid #3273eb;
                        color: white;
                    }
                }
            }

            .inspector {
                background-color: rgba( #111, 0.7 );
                margin-left: 5px;
                border-radius: 0 3px 3px 0;
                padding: 10px 10px;
                width:360px;
                .form-row{
                    flex-direction: flex-column;
                    flex-wrap: wrap;
                }
                .form-label{
                    padding:0px 7px;
                }
                .form-value{
                    padding:0px 7px;
                }

                .scrollable{
                    flex-direction: column;
                    overflow: scroll;
                    padding: 4px;
                    height:400px;
                    width:320px;
                    background-color:#111;
                    border-radius:4px;

                    .box{
                        flex-direction: column;
                        flex-shrink: 0;
                        .category{
                            .header {
                                background-color: #08f;
                                border-radius:4px 4px 0px 0px;
                                padding: 0px 4px 0px 4px;
                                color: #FFF;
                                min-height: 0px;
                                margin-bottom:1px;

                                &:hover {
                                    background-color:#08f8;
                                }
                            }
                            flex-direction: column;
                            margin-bottom:2px;
                        }
                        .childrenBox{
                            flex-direction: column;
                            button{
                                min-height: 0px;
                                margin-bottom:1px;
                            }
                        }
                        .inactive{
                            display:none;
                        }
                    }
                }

                //flex-label{width:100%;}
                /*color: #aaa;

                label {
                    font-size: 14px;
                }

                .scrollable{
                    flex-direction: column;
                    overflow: scroll;
                    padding: 4px;
                    height:400px;

                    border-color: #aaa;
                    border-radius: 0;
                    border-style: solid;
                    border: 1px;

                    .box{
                        flex-direction: column;
                        flex-shrink: 0;
                        .category{
                            .header {
                                background-color: #08f;
                                border-radius:4px 4px 0px 0px;
                                padding: 0px 4px 0px 4px;
                                color: #FFF;
                            }
                            flex-direction: column;
                            margin-bottom:2px;
                        }
                        .childrenBox{
                            flex-direction: column;
                        }
                        .inactive{
                            display:none;
                        }
                    }
                }

                textentry {
                    border-color: #aaa;
                    border-radius: 0;
                    border-style: solid;
                    border: 1px;
                    padding: 0px 4px 0px 4px;
                }

                button {
                    font-size: 11px;
                    transition: all 0.2s ease-out;
                    cursor: pointer;

                    &:hover {
                        //border-left: 3px solid #3273eb;
                        color: white;
                    }

                    &.active {
                        //border-left: 5px solid #3273eb;
                        color: white;
                    }
                }*/
            }
        }
    }
}


.spawnmenuopen spawnmenu {
    transition: all 0.2s ease-out;
    pointer-events: all;
    opacity: 1;
    transform: scale( 1 );

    .left, .right {
        left: 0;
        transition: all 0.1s ease-out;
    }
}

.spawnpage {
    display: none;

    &.active {
        display: flex;
        opacity: 1;
    }

    .canvas {
        overflow: scroll;
        width: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10px;
        border-radius: 5px;

        .cell {
            padding: 5px;
        }

        .icon {
            border-radius: 16px;
            color: rgba( #fff, 0.5 );
            font-size: 12px;
            text-align: center;
            cursor: pointer;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-color: rgba(black, 0.1);
            background-image: url( /entity/spawnicon.png );

            label {
                font-size: 9px;
                position: absolute;
                bottom: -17px;
                left: 0;
                right: 0;
                pointer-events: none;
            }

            &:hover {
                color: #fff;
                background-color: rgba(black, 0.4);
            }

            &:active {
            }
        }
    }
}


entitylist {
    display: none;

    &.active {
        display: flex;
        opacity: 1;
    }

    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;

    .scrollBox{
        color: #fff;
        position:absolute;
        padding:8px;
        left: 0;
        right: 0;
        flex-shrink: 0;
        flex-direction: column;

        .category {
            font-size: 18px;
            font-weight: 500;
            padding-top:4px; 
            //background-color: #08f;
            background: linear-gradient(to right, rgba(#08f, 0.5), rgba(#08f, 0.0));
            height: 32px;
            border-radius: 8px 0px 0px 8px;
            margin-top:5px;
            padding-left:8px;
        }

        .entry {
            height: 108px;
            border-radius: 8px;
            padding: 8px;
            label {
                position:absolute;
                left:0;
                right:0;
                top: 90px;
                text-align:center;
                justify-content: center;
                font-size:10px;
                overflow: hidden;
                height: 14px;
            }

            .icon {
                border-radius: 8px;
                width: 82px;
                height: 82px;
                margin: 2px;
                background-position: center;
                background-size: cover;
                background-color: rgba(black, 0.1);
                background-image: url( /entity/spawnicon.png );
            }

            &:hover {
                color: #fff;
                background-color: rgba(black, 0.4);
                cursor: pointer;
            }
        }

        .box {
            flex-direction: flex-start;
            flex-wrap: wrap;
        }
    }
}