WirePanel
{
	position: absolute;
	background-color: rgba( black, 0.5 );
	left: 52%;
    top: 50%;
	font-size: 12px;
	font-family: Courier New;
	color: white;
	padding: 20 20px;
	align-items: center;
}