
.game-previous
{
	max-height: 250px;
}

PreviouslyCreatedGame
{
	flex-grow: 1;
	flex-direction: column;

	> .package-thumb
	{
		border-radius: 16px;
		background-position: center;
		background-size: cover;
		width: 250px;
		aspect-ratio: 1.5;
		margin-bottom: 10px;
	}

	> .details
	{
		//background-color: green;
		justify-content: space-between;
		align-items: center;

		> text
		{
			color: white;
			margin-left: 5px;
			opacity: 0.2;
		}
	}
}

.subtle-link
{
	color: white;
	opacity: 0.5;
	font-size: 14px;
	cursor: pointer;

	&:hover
	{
		opacity: 1;
	}
}